<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.soin.core.infrastructure.mappers.mapper.MusicTreeMapper">

    <!-- 随机获取20个歌单 -->
    <select id="musicTreeQuery" resultType="org.soin.core.domain.music.vo.MusicTreeVo">
        SELECT music.id,
               music.title,
               music.photo,
               music.resume,
               music.type
        FROM `soin-music`.`t_music_tree` AS music
        ORDER BY RAND() LIMIT 10;
    </select>

</mapper>